.desc {
  max-width: 1240px;
  margin: 20px auto;
  padding: 20px;

  border-radius: 10px;

  max-width: 70%;
}

.description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  background: rgba(255, 96, 96, 1);
  max-width: 1240px;
  margin-left: 20px auto;
  margin-right: 20px auto;
  padding-right: 20px;
  padding-left: 20px;

  border-radius: 10px;
}

.titre {
  font-size: 18px;
  font-weight: bold;
  color: white;
}

.fa-chevron-up,
.fa-chevron-down {
  font-size: 16px;
  color: white;
}

.descriptif {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transform: translateY(-20px);
  transition: max-height 0.4s ease, opacity 0.4s ease, transform 0.4s ease;
}

.descriptif.visible {
  max-height: 500px; /* Ajustez selon la hauteur maximale de votre texte */
  opacity: 1;
  transform: translateY(0);
}

.text {
  font-size: 16px;
  color: #555;
  line-height: 1.5;
}

@media screen and (max-width: 875px) {
  .desc {
    max-width: 70%;
  }
  .description {
    max-width: 90%;
  }
  .description .titre {
    margin-left: 10px;
  }
  .fa-chevron-up {
    margin-right: 10px;
  }
}

@media screen and (max-width: 675px) {
  .desc {
    max-width: 90%;
  }
  .description {
    max-width: 100%;
    padding-left: 10px;
    padding-right: 10px;
  }
  .description .titre {
    margin-left: 10px;
  }
  .fa-chevron-up {
    margin-right: 10px;
  }
  .text {
    max-width: 90%;
  }
}

@media screen and (max-width: 375px) {
  .desc {
    max-width: 70%;
  }
  .description {
    max-width: 85%;
    padding-left: 10px;
    padding-right: 10px;
  }
}
