.desc {
  max-width: 1240px;
  margin: 20px auto;
  padding: 20px;

  border-radius: 10px;

  max-width: 70%;
}

.description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  background: rgba(255, 96, 96, 1);
  max-width: 1240px;
  margin-left: 20px auto;
  margin-right: 20px auto;
  padding-right: 20px;
  padding-left: 20px;

  border-radius: 10px;
}

.titre {
  font-size: 18px;
  font-weight: bold;
  color: white;
}

.fa-chevron-up,
.fa-chevron-down {
  font-size: 16px;
  color: white;
}

.descriptif {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transform: translateY(-20px);
  transition: max-height 0.4s ease, opacity 0.4s ease, transform 0.4s ease;
}

.descriptif.visible {
  max-height: 500px; /* Ajustez selon la hauteur maximale de votre texte */
  opacity: 1;
  transform: translateY(0);
}

.text {
  font-size: 16px;
  color: #555;
  line-height: 1.5;
}
/* Container for the two descriptions */
.look {
  display: flex; /* Active le mode flexbox */
  justify-content: space-between; /* Sépare les composants horizontalement */
  align-items: flex-start; /* Aligne les éléments en haut */
  gap: 20px; /* Espace entre les deux composants */
}

.look .desc {
  flex: 1; /* Les deux composants prennent une largeur égale */
  max-width: 48%; /* Chaque composant occupe environ la moitié de la largeur */

  padding-left: 15px; /* Ajoutez de l'espace interne */
  padding-right: 15px; /* Ajoutez de l'espace interne */

  border-radius: 8px; /* Bordures arrondies */
}
@media (max-width: 768px) {
  .look {
    flex-direction: column; /* Empile les composants verticalement */
    gap: 10px; /* Réduit l'espace entre les composants */
  }

  .look .desc {
    max-width: 100%;
    width: 90%; /* Chaque composant occupe toute la largeur */
  }
}
.look {
  display: flex;
  gap: 20px;
  justify-content: space-between;
}

.left,
.right {
  flex: 1;
  padding: 10px;
}

@media screen and (max-width: 875px) {
  .desc {
    max-width: 70%;
  }
  .description {
    max-width: 90%;
  }
  .description .titre {
    margin-left: 10px;
  }
  .fa-chevron-up {
    margin-right: 10px;
  }
}

@media screen and (max-width: 675px) {
  .desc {
    max-width: 90%;
  }
  .description {
    max-width: 100%;
    padding-left: 10px;
    padding-right: 10px;
  }
  .description .titre {
    margin-left: 10px;
  }
  .fa-chevron-up {
    margin-right: 10px;
  }
  .text {
    max-width: 90%;
  }
}

@media screen and (max-width: 375px) {
  .desc {
    max-width: 70%;
  }
  .description {
    max-width: 85%;
    padding-left: 10px;
    padding-right: 10px;
  }
}
